
:root {
	--color1: #e66868;
	--color2: #eb8686;
	--main-gap: 50px;
}

[data-theme="dark"] {
	--color-bg: #121212;
	--color-fg: #FFFFFF;
}

[data-theme="light"] {
	--color-bg: #FFFFFF;
	--color-fg: #121212;
}

* {
	user-select: none;
	touch-action: manipulation;
}

body {
	font-family: 'Arial', "sans-serif";
	text-align: center;
	margin: 0;
	background-color: var(--color-bg);
	color: var(--color-fg);
	transition: background 0.1s;
}

#title {
	font-size: 36pt;
	margin-bottom: 0;
}

h4 {
	font-size: 18pt;
	margin-top: 12pt;
	margin-bottom: var(--main-gap);
}


.settings {
	position: absolute;
	top: 36pt;
	right: 24pt;
}


.switch {
	display: block;	
	right: 50px;
	width: 100px;
	height: 50px;
	padding: 0;
	background-color: var(--color-bg);
	border-radius: 25px;
	border: solid 4px var(--color2);
	transition: all 0.1s;
}

.slider {
	position: absolute;
	top: 8px;
	left: 8px;
	height: 34px;
	aspect-ratio: 1 / 1;
	border-radius: 50%;
	background-color: var(--color2);
	transition: transform ease-out 0.15s;
}

.switch.active .slider {
	transform: translateX(50px);
}

.slider img {
	width: 20px;
	margin-top: 7px;
}

.switch:hover {
	border: solid 4px var(--color1);
}
.switch:hover .slider {
	background-color:var(--color1);
}

.gear {
	position: absolute;
	right: 0;
	margin-top: 25px;
}
.gear img {
	position: absolute;
	right: 0;
	width: 26px;
	aspect-ratio: 1 / 1;
	padding: 12px;
	border-radius: 25px;
	background-color: var(--color2);
	transition: background-color .1s;
	cursor: pointer;
}

.gear img:hover {
	background-color: var(--color1);
}

.color-themes {
	display: none;
	position: fixed;
	left: 10vw;
	width: 80vw;
	border-radius: var(--main-gap);
	background-color: var(--color-bg);
	z-index: 3;
}

.color-themes .title {
	font-size: 28pt;
	color: var(--color-fg);
	font-weight: bold;
}

.color-container {
	margin: var(--main-gap) 10vw;
	width: 60vw;
	display: flex;
	flex-wrap: wrap;
	gap: 30px 5%;

}

.color-container > div {
	position: relative;
	display: block;
	width: 30%;
	height: 150px;
	border-radius: 20px;
	overflow: hidden;
	cursor: pointer;
}

.color-container .color1, .color-container .color2 {
	position: absolute;
	height: 100%;
	width: 50%;
}

.color-container .color2 {
	left: 50%;
}

.color-container .white-strip {
	position: absolute;
	height: 40px;
	width: 100%;
	bottom: 0;
	background-color: #FFFFFF;
	transition: height .2s;
}

.color-container .white-strip p {
	font-size: 14pt;
	text-transform: uppercase;
	margin: 0;
	margin-top: 5pt;
	font-weight: bold;
}

.color-container > div:hover .white-strip {
	height: 0;
}

.leaderboard .icon img {
	position: absolute;
	top: 36pt;
	left: 24pt;
	width: 30px;
	padding: 10px;
	aspect-ratio: 1 / 1;
	border-radius: 25px;
	cursor: pointer;
	background-color: var(--color2);
	transition: background-color 0.1s;
}

.leaderboard .icon img:hover {
	background-color: var(--color1);
}

.leaderboard .popup {
	display: none;
	position: absolute;
	width: 80vw;
	top: 10vh;
	left: 10vw;
	border-radius: var(--main-gap);
	background-color: var(--color-bg);
	overflow: hidden;
	z-index: 3;
}

.leaderboard .title {
	font-size: 28pt;
	font-weight: bold;
	margin: 0;
	margin-top: 24pt;
}

.score {
	display: flex;
	color: #121212;
	width: 70vw;
	margin: var(--main-gap) 5vw;
}

.score .table-col {
	width: 25%;
	height: 100%;
}

.score ul {
	background-color: var(--color1);
	margin: 0;
	padding: 12pt 0;

}

.score li {
	display: block;
	font-size: 18pt;
	padding: 12pt 0;
	list-style-type: none;
}


.score p {
	display: block;
	background-color: var(--color1);
	font-size: 20pt;
	font-weight: bold;
	padding: 10pt 0;
	margin-top: 0;
}

.score .table-col:nth-child(odd) ul, .score .table-col:nth-child(odd) p {
	background-color: var(--color2);
}

.score .table-col:last-child ul, .score .table-col:last-child p {
	border-bottom-right-radius: calc(var(--main-gap) / 2);
	border-top-right-radius: calc(var(--main-gap) / 2);
}

.score .table-col:first-child ul, .score .table-col:first-child p {
	border-bottom-left-radius: calc(var(--main-gap) / 2);
	border-top-left-radius: calc(var(--main-gap) / 2);
}




.time_bar {
	position: relative;
	display: flex;
	width: 40vw;
	margin: auto;
	padding: 0;
	font-size: 16pt;
	font-weight: bold;
	background-color: var(--color2);
	color: #121212;
	border-radius: 20px;
	overflow: hidden;
}

.time_bar li {
	display: inline-block;
	list-style-type: none;
	padding: 12pt 0;
	width: 25%;
}


.time_bar .time:not(.active):hover::before {
	content: "";
	display: block;
	position: absolute;
	margin-top: 25pt;
	width: 25%;
	height: 6pt;
	background-color: var(--color1);
}

.time_bar .active {
	background-color: var(--color1);
}



#game_box {
	display: block;
	position: relative;
	width: 40vw;
	height: 300px;
	background-color: var(--color1);
	color: #121212;
	margin: var(--main-gap) auto;
	border-radius: var(--main-gap);
	align-items: center;
	overflow: hidden;
}

#game_text {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 32pt;
	margin: 0;
	z-index: 1;
}



.info {
	width: 40vw;
	margin: auto;
	display: flex;
	justify-content: space-between;
}




#timer, #score {
	display: block;
	text-align: center;
	width: calc(50% - (var(--main-gap)/2));
	background-color: var(--color2);
	color: #121212;
	border-radius: 20px;
	margin: 0;
	padding: 25px 0;
	font-size: 20pt;
	font-weight: bold;
}




#darkscreen {
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: black;
	opacity: 0.5;
	z-index: 2;
}

#resultat {
	display: none;
	position: absolute;
	width: 50vw;
	height: 50vh;
	background-color: var(--color-bg);
	top: 10vh;
	left: 25vw;
	border-radius: var(--main-gap);
	z-index: 3;

	text-align: center;
	justify-content: center;
	flex-direction: column;
}


.cross {
	position: absolute;
	top: 25px;
	right: 25px;
	display: inline;
	width: 50px;
	max-width: 8%;
	min-width: 30px;
	aspect-ratio: 1 / 1;
}

.cross .barre {
	display: block;
	position: absolute;
	width: 100%;
	height: 20%;
	top: 20px;
	background-color: var(--color2);
	border-radius: 5px;
	transition: background-color 0.1s;
}
.cross .barre.gauche {
	transform: rotate(45deg);
}
.cross .barre.droite {
	transform: rotate(-45deg);
}
.cross:hover .barre {
	background-color: var(--color1);
}


#resultat_txt {
	font-size: 32pt;
	font-weight: bold;
	margin: 20px;
}

#record {
	font-size: 18pt;
	margin: 10px;
}


footer {
	background-color: #121212;
	border-top: solid 4px var(--color1);
	margin-top: 130px;
	width: 100%;
}


.footer-icons {
	margin: 25px 0 15px 0;
}

.footer-icons .icon {
	display: inline;
	margin: 0 10px;
}

.footer-icons img {
	width: 35px;
}

footer .copyright {
	color: #AAAAAA;
	font-size: 14pt;
	margin: 0;
	padding-bottom: 25px;
}



@keyframes animation_click {
	0% {
		transform: translate(-50%, -50%) scale(0);
	}

	30% {
		opacity: .5;
	}

	80% {
		transform: translate(-50%, -50%) scale(.8);
	}

	100% {
		transform: translate(-50%, -50%) scale(1);
		opacity: 0;
	}
}



@media (max-width: 1024px) and (min-width: 720px){
	:root {
		--main-gap: 30px;
	}

	#title {
		font-size: 28pt;
	}
	h4 {
		font-size: 16pt;
	}
	#game_box {
		height: 200px;
	}
	#game_text {
		font-size: 24pt;
	}
	#timer, #score, .time_bar {
		font-size: 14pt;
	}

	#resultat_txt {
		font-size: 24pt;
	}
	#record {
		font-size: 16pt;
	}


	.leaderboard .title, .color-themes .title {
		font-size: 22pt;
	}

	.score .time {
		font-size: 18pt;
	}
	.score li {
		font-size: 16pt;
	}

	.color-container > div {
		height: 100px;
	}
	.color-container .white-strip {
		height: 30px;
	}
	.color-container .white-strip p {
		font-size: 12pt;
	}

	footer .copyright {
		font-size: 12pt;
	}
}

@media (max-width: 720px) {
	:root {
		--main-gap: 20px;
	}

	#title {
		margin-top: 100px;
		font-size: 24pt;
	}
	h4 {
		font-size: 14pt;
		margin-top: 10pt;
	}

	#game_box, .time_bar, .info {
		width: 60vw;
	}

	#game_box {
		height: 150px;
	}
	#game_text {
		font-size: 20pt;
	}
	#timer, #score, .time_bar{
		font-size: 12pt;
	}

	#resultat {
		width: 70vw;
		left: 15vw;
	}
	#resultat_txt {
		font-size: 24pt;
	}
	#record {
		font-size: 16pt;
	}


	.leaderboard .title, .color-themes .title {
		font-size: 16pt;
	}

	.score .time {
		font-size: 14pt;
	}
	.score li {
		font-size: 12pt;
	}


	.color-themes .title {
		margin: 35px 0;
	}
	.color-container > div {
		width: 45%;
		height: 80px;
	}
	.color-container .white-strip {
		height: 30px;
	}
	.color-container .white-strip p {
		font-size: 12pt;
	}


	footer .copyright {
		font-size: 12pt;
	}

	.leaderboard .icon img, .settings {
		top: 30px;
	}

	.leaderboard .icon img, .gear img{
		width: 24px;
		padding: 8px;
	}

	.switch, .settings .gear {
		position: relative;
		display: inline;
		margin: 0 5px;
	}

	.switch {
		height: 40px;
		width: 80px;
		border: solid 4px var(--color2)
	}
	.switch.active .slider {
		transform: translateX(38px);
	}

	.slider {
		height: 28px;
		top: 3px;
		left: 3px;
	}

	.slider img {
		margin-top: 4px;
	}

	.cross {
		top: 10px;
		right: 10px;
	}
}


@media (max-width: 425px) {	
	#title {
		font-size: 20pt;
	}
	h4 {
		font-size: 12pt;
	}

	#game_text {
		font-size: 18pt;
	}
	#timer, #score{
		font-size: 10pt;
	}

	#resultat_txt {
		font-size: 20pt;
		margin: 10px 0;
	}

	.score li {
		padding: 8pt 0;
	}

	.color-themes .title {
		margin: 50px 0 20px 0;
	}
	.color-container > div {
		width: 45%;
		height: 80px;
	}
	.color-container .white-strip {
		height: 24px;
	}
	.color-container .white-strip p {
		margin-top: 4px;
		font-size: 10pt;
	}

	footer {
		margin-top: 100px;
	}
	footer .copyright {
		font-size: 10pt;
	}
}
